<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted gradient-custom">
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-6">
        <!-- Grid row -->
        <div class="row mt-3">
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 homef">
            <div>
              <h6 class="text-uppercase fw-bold mb-6 ">
                <a href="home" class="stretched-link "></a>
                <button class="btn btn-lg">
                  <i class="bi bi-house-door-fill"></i>Home
                </button> 
              </h6>
            </div>
          </div>

          <!-- Grid column -->

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 about">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i> About us
            </h6>
            <p>
              Welcome to our Rental Car Agency Management platform, 
              where precision meets efficiency in managing your fleet. Experience seamless rental operations with us.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="bi bi-person-rolodex"></i> Contact us
            </h6>
            <p><i class="fas fa-home me-3"></i> Street, City, ZipCode, Country</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              support@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 216 71 000 000</p>
            <p><i class="fa fa-fax me-3"></i> + 216 71 000 001</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->